body {
  margin: 7px;
  display: flex;
  justify-content: center;
  background-color: #dde6ed;
}
.scoreBoard {
  background-color: #27374d;
  height: 90px;
  width: 500px;
  font-family: "Pangolin", cursive;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreBoard p {
  font-size: 30px;
  padding: 0 30px;
  margin: 0;
}
.gameBox {
  background-color: #394867;
  height: 515px;
  width: 500px;
  display: grid;
  position: relative;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.food {
  background-color: red;
  /* background-image: url("../img/px-poison-ghost.png");
  background-size: cover; */
}
.snake {
  background-color: greenyellow;
  /* border-radius: 50%; */
}

/* .difficulty {
  background-color: teal;
  text-align: center;
  border-radius: 25px;
  font-family: Arial;
  color: #ffffff;
  font-size: 40px;
  padding: 40px 50px 40px 50px;
  height: 80px;
  width: 100px;
} */

.difficulty {
  background: #3498db;
  /* height: 100px;
  width: 150px; */
  margin: 0 100px;
  /* border-radius: 25px; */
  font-family: Arial;
  color: #ffffff;
  font-size: 40px;
  padding: 40px 50px 40px 50px;
  text-decoration: none;
}
.center {
  height: 605px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  font-family: "Pangolin", cursive;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}
