body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.box {
  border: solid black 1px;
  height: 600px;
  width: 600px;
  display: grid;
  position: relative;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.food {
  /* background-color: red; */
  background-image: url("../img/px-poison-ghost.png");
  background-size: cover;
}
.snake {
  background-color: greenyellow;
}
